<main>
    <div class="movie">
        <div class="container">
            <h3 class="title-movie">Blue Banisters</h3>
            <div class="artist-container">
                <img class="artist-prof" src="assets/img/min2.jpg" alt="Lana Del Rey"/>
                <p class="artist">Lana Del Rey<i class="fas fus fa-certificate"></i></p>
            </div>
            <div class="buttons">
                <button role="button" class="bot">
                    <i class="fas fa-play"></i>
                </button><button role="button" class="bot2">
                    <i class="fas fa-info"></i>
                </button>
            </div>
        </div>

    </div>
</main>