<header>
    <div class="container-header">
        <h1 class="logo">SONNER<mat-icon style="font-size: 25px;" fontIcon="album"></mat-icon></h1>
        <!--Usando o Angular Material-->
        <nav class="navegation-buttons">
            <a class="b" href="#">INICIO</a>
            <a class="b" href="#">PLAYLIST</a>
            <a class="b" href="#">FAVORITOS</a>
            <a class="b" href="https://github.com/carloscdf" target="_blank"><i class="fab fa-github"></i></a>
        </nav>
    </div>
</header>
