/*Selected album*/
.movie {
	font-size: 20px;
	background-attachment: fixed !important;
	height: 400px;
	background-size: cover !important;
	margin-top: 20px;
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: flex-start;
}

.container {
	margin-left: 20px;
}

.title-movie {
	font-size: 65px;
	margin-top: 180px;
}


/*Top Banner - Buttons*/

.buttons {
	margin-top: 30px;
}

.bot {
	padding: 15px 30px 15px 30px;
	border-radius: 50px;
	background: #1a48c4;
	color: #FFF;
	border: none;
	font-weight: 600;
	transition: 0.1s;
	margin-right: 10px;
}

.bot:hover {
	background: #2146acea;
}

.bot2{
	padding: 10px;
	border-radius: 50px;
	background: transparent;
	color: #FFF;
	border: 1px solid #FFF;
	font-weight: 600;
}

.bot, .bot2 {
	cursor: pointer;
}
/*Top Banner - Profile*/
.artist-container {
	display: flex;
	align-items: center;
}

.artist-prof {
	width: 25px;
	border-radius: 100%;
	margin-right: 10px;
}

.artist {
	font-size: 15px;
	font-weight: 600;
	cursor: pointer;
}

.artist:hover {
	text-decoration: underline;
}

.fus {
	margin-left: 5px;
}

.fa-certificate {
	color: #15a6f0;
}

@media screen and (max-width:700px){

	.title-movie {
		font-size: 45px;
		margin-top: 180px;
	}

    .movie {
        width: 100%;
		background-size: cover !important;
    }

    .title-movie {
        margin-top: 120px;
    }

}